<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rust http server</title>
  </head>
  <body>
    <div>
      <p>
        this server implement http protocol on tcp connection and currently very
        basic and small
      </p>
      <b>
        <p>
          Welcome to The Rust Programming Language, an introductory book about
          Rust. The Rust programming language helps you write faster, more
          reliable software. High-level ergonomics and low-level control are
          often at odds in programming language design; Rust challenges that
          conflict. Through balancing powerful technical capacity and a great
          developer experience, Rust gives you the option to control low-level
          details (such as memory usage) without all the hassle traditionally
          associated with such control.
        </p>
      </b>
    </div>
  </body>
</html>
